extends ../layouts/default
block intro
	- var data = __('aboutus.content')
	.container.page-menu
		h1 ABOUT US
		for x in data
			a(href='#'+ x.slug): h2= x.header

block content
	- var data = __('aboutus.content')
	- var questions = __('aboutus.question')
	- var positiondata = [{pic:"http://fakeimg.pl/180x260/", name:"name"},{pic:"http://fakeimg.pl/180x260/", name:"name"},{pic:"http://fakeimg.pl/180x260/", name:"name"},{pic:"http://fakeimg.pl/180x260/", name:"name"},{pic:"http://fakeimg.pl/180x260/", name:"name"}]
	.container.page
		for x in data
			div(id=x.slug)
				h1= x.header
				p.subhead!= x.content
				if(x.header == "Team")
					.team
						- var n = 0
						for people in team
							.team-each
								div.tag(type='button', data-toggle='modal', data-target='#team-' + n)
									div!{getField(people, 'Name', locale)}
								+team-modal(getField(people, 'Name', locale), 'team-'+n) 
									div.position!= getField(people, 'Position', locale)
									if getField(people, 'image.secure_url')
										img.team-image(src="#{getField(people, 'image.secure_url')}" width="180")
								- n++

				if(x.slug === "faq")
					for question in questions
						#faq
							p#faq__header= question.ask
							p.subhead!= question.ans
