extends ../layouts/default
block intro
	- var data = __('aboutus.content')
	.container.page-menu
		h1 ABOUT US
		for x in data
			a(href='#'+ x.slug): h2= x.header

block content
	- var data = __('aboutus.content')
	- var questions = __('aboutus.question')
	.container.page
		for x in data
			div(id=x.slug)
				h1= x.header
				p!= x.content
				if(x.slug === "faq")
					for question in questions
						.faq
							h2= question.ask
							p!= question.ans