extends ../layouts/default
block intro
	- var data = [{slug:"whatistedx",header:"What is TEDx"}, {slug:"eventinfo",header:"Event info"}, {slug:"speakers",header:"Speakers"}]
	.container.page-menu
		h1 EVENT
		for x in data
			a(href='#'+ x.slug): h2= x.header

block content
	- var data = [{slug:"whatistedx",header:"What is TEDx",content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra gravida nunc, ut tristique tellus porttitor sit amet. Vestibulum mattis pretium posuere. Nulla ac ligula at nisi aliquet tincidunt. Nunc tincidunt commodo diam a luctus. Nam a magna eleifend enim fermentum accumsan. Proin orci ante, porta sed rutrum id, lobortis a velit. Aliquam eget lectus quis tellus tincidunt laoreet.<br><br>Sed ornare est ut interdum pellentesque. Donec turpis lacus, efficitur eu lorem id, fermentum ornare dui. Morbi ullamcorper, turpis vulputate placerat viverra, lectus enim vehicula nisl, a euismod massa leo eget erat. Phasellus nec dui id mi convallis vulputate. Etiam dapibus eget ipsum sed fermentum. Nullam quis tempus ex, id euismod dolor. Integer eget sem vel turpis gravida placerat id sed lectus. Vestibulum sagittis gravida molestie. Sed at semper elit. Nunc id euismod enim, sed consequat sapien. Curabitur placerat lobortis ipsum, a dictum dui molestie sed. Vivamus gravida dui in sapien viverra, ut facilisis augue tincidunt. Nullam non rutrum ante. Sed sagittis justo nec dui scelerisque fringilla. Etiam eu ornare diam, eu egestas leo. Vestibulum dictum purus mollis risus congue fermentum."}, {slug:"eventinfo",header:"Event info",content:"info"}, {slug:"speakers",header:"Speakers",content:"speakers"}]
	- var speakers = [{name : "speaker1", description : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo.", twitter : "http://www.twitter.com", facebook : "http://www.facebook.com", linkedin : "http://www.linkedin.com"}, {name : "speaker2", description : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo.", twitter : "http://www.twitter.com", facebook : "http://www.facebook.com", linkedin : "http://www.linkedin.com"}, {name : "speaker3", description : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo.", twitter : "http://www.twitter.com", facebook : "http://www.facebook.com", linkedin : "http://www.linkedin.com"}]
	.container.page
		for x in data
			div(id=x.slug)
				h1= x.header
				p!= x.content
				if(x.slug === "speakers") 
					for speaker in speakers 
						div.row.row-height.speakers
							div.col-md-3
								img.speakers(src="http://fakeimg.pl/240x320/")
							div.col-md-5.speaker-info
								h2.speaker-name= speaker.name
								p= speaker.description
								.container.social
									.img-circle.facebook
									.img-circle.twitter
					
				
