extends ../layouts/default

block intro
	.container
		h1= 'Speakers'

block content
	.container: .row
		.col-md-9
			each speaker in speakers
				a.col-md-6(href='/speakers/#{speaker.slug}' style='background-image:url("#{speaker.image.url}");background-repeat: no-repeat; background-size: cover;')
					h3 #{locals.getField(speaker, 'title')}
					if speaker.desc
						!= speaker.desc
					p #{locals.getField(speaker, 'about', locale)}
