div.language-switcher
	each locale in locales
		a.language-switcher__language(
			onclick="document.cookie = 'tedxkaset-lang=#{locale}'; location.reload();"
			class="#{locale === locals.locale ? 'active' : ''}"
		)
			| #{languageNames[locale]}
		
